.registration-form {
  font-size: 12px;
  width: fit-content;
  padding: 20px;
  background: #fafafa;
  border-radius: 15px;
}
h2 {
  grid-column: span 8;
}
form {
  display: grid;
  grid-template-columns: 150px 300px;
  grid-gap: 15px;
}
input:not([type='checkbox']) {
  width: 100%;
  height: 30px;
}
textarea {
  width: 100%;
}
.hobby-selection {
  display: flex;
}
.hobby-selection label {
  padding-top: 2px;
  margin-right: 10px;
}
button {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end 30px;
  align-items: center;
<<<<<<< HEAD
}
=======
}
>>>>>>> d260930f7ec3e937bf9ee03090b908b8d05230ff
