<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>出勤/退勤ボタン</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div class="tabs">

        <input id="tab_1" type="radio" name="tab_item" checked>
        <label class="tab_item" for="tab_1"></label>
        <input id="tab_2" type="radio" name="tab_item">
        <label class="tab_item" for="tab_2">勤怠入力</label>
        <input id="tab_3" type="radio" name="tab_item">
        <label class="tab_item" for="tab_3">勤務場所登録</label>
        <input id="tab_4" type="radio" name="tab_item">
        <label class="tab_item" for="tab_4">連絡先登録</label>
        <input id="tab_5" type="radio" name="tab_item">
        <label class="tab_item" for="tab_5">勤務状況一覧表示</label>
        <input id="tab_6" type="radio" name="tab_item">
        <label class="tab_item" for="tab_6">ログアウト</label>

    <div class="tab_content" id="tab_1_con">
      <div class="tab_content_description">

            <div class="syukin_btn_wrap">
                <div class="tab_1_tex">こんにちは、ななしさん。</div>
                <div class="work_state">状態：未出勤</div>

                    <a href=""><div class="work_state_btn_1">出勤</div></a>
                    <div class="state_margin"></div>
                    <a href=""><div class="work_state_btn_2">退勤</div></a>
            </div>
        </div>
    </div>

    <div class="tab_content" id="tab_2_con">
      <div class="tab_content_description">
        <div class="syukin_btn_wrap">
            <div class="">b</div>
        </div>
     </div>
    </div>

    <div class="tab_content" id="tab_3_con">
      <div class="tab_content_description">
        <div class="syukin_btn_wrap">
            <div class="">c</div>
        </div>
        </div>
    </div>

    <div class="tab_content" id="tab_4_con">
        <div class="tab_content_description">
            <div class="syukin_btn_wrap">
                <div class="">d</div>
            </div>
        </div>
    </div>

    <div class="tab_content" id="tab_5_con">
        <div class="tab_content_description">
            <div class="syukin_btn_wrap">
                <div class="">e</div>
            </div>
        </div>
    </div>

    <div class="tab_content" id="tab_6_con">
        <div class="tab_content_description">
            <div class="syukin_btn_wrap">
                <div class="">f</div>
            </div>
        </div>
    </div>
      
</div>

</body>
</html>
